.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 80px;
  padding: 10px 25px;
  background-color: crimson;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .button {
    width: 60px;
  }
}