.categories {
  margin: 35px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.link {
  font-size: 14px;
  padding: 8px 20px;
  width: max-content;
  border-radius: 5px;
  color: var(--textColor);
  text-transform: capitalize;
}

.link.style {
  background-color: #57c4ff31;
}

.link.fashion {
  background-color: #da85c731;
}

.link.food {
  background-color: #7fb88133;
}

.link.travel {
  background-color: #ff795736;
}

.link.culture {
  background-color: #ffb04f45;
}

.link.coding {
  background-color: #5e4fff31;
}