.title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
}

.content {
  display: flex;
  gap: 20px;
}

.backend {
  background-color: #57c4ff31;
}

.frontend {
  background-color: #da85c731;
}

.devops {
  background-color: #7fb88133;
}

.fullstack {
  background-color: #ff795736;
}

.uiux {
  background-color: #ffb04f45;
}

.other {
  background-color: #5e4fff31;
}
